@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap');


.lista {
    list-style: none;
    display: flex;
    gap: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 20px;
    background-color: #1E3268;
}

li:hover {
    text-decoration: underline;
}
