.card {
    width: 250px;
    height: 400px;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dark{
    background-color: #1E3268;
}

.light{
    background-color: #1985a1;

}

.userIcon {
    width: 200px;
    height: 200px;
    background-image: url(../img/dentista.png);
    background-size: contain;
}

.name {
    font-size: 20px;
}

.botonDetalles, button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dark button, .dark .botonDetalles{
    background-color: #111C39;
    color: white;
}

.light button, .light .botonDetalles {
    background-color: #e9ecef;
color: black;
}

.enlaceDetalles {
    text-decoration: none;
}

.botonDetalles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    font-size: 20px;
}

.dark .white {
    color: white;
}

.light .white {
    color: black;
}

.red {
    color: red;
}