@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap');

.formulario {
    width: 600px;
    height: 350px;
    margin: 50px auto 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.light .formulario{
    background-color: #1985a1;
}

.dark .formulario{
    background-color: #1E3268;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 10px;
}

input {

    border: none;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
.dark input {
    background-color: #111C39;
    color: white;
}

.light input {
    background-color: #e9ecef;
    color: black;
}

button {
    margin-top: 10px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 18px;
}


.error {
    width: 300px;
    background-color: #d84654;
    border-radius: 5px;
}

.success {
    width: 500px;
    border-radius: 5px;
    background-color: #55a630;
}
.error p, .success p{
    font-size: 15px;
    text-align: center;
}


